.messages__description {
  line-height: 30px;
}

.messages__list {
  background-color: #ffffff;
}

.messages__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.messages__post-time {
  text-transform: uppercase;
}

.messages__like {
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .messages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .messages__item {
    width: 300px;
  }
}
