@messages-font-p: 14px;
@description-line-p: 30px;
@messages-line-p: 24px;

@messages-font-like: 12px;
@messages-line-like: 24px;
@messages-line-color: #d22856;

.messages__description {
  font-size: @messages-font-p;
  line-height: @description-line-p;
}

.messages__list {
  background-color: #ffffff;
}

.messages__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.messages__text {
  font-size: @messages-font-p;
  line-height: @messages-line-p;
}

.messages__post-time {
  text-transform: uppercase;
}

.messages__like {
  text-transform: uppercase;
  color: @messages-line-color;
}
