.page-footer {
  display: flex;
}

.page-footer__wrapper {
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
